<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Admin Panel</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css-admin/sb-admin-2.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Daha koyu font */
            font-weight: 700; /* Tüm metinler koyu */
        }

        .sidebar .nav-link {
            font-family: 'Roboto', sans-serif; /* Sidebar'daki bağlantılarda da koyu font */
            font-weight: 700;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "AdminDashboard")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Chap Chap Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Ana Sayfa -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="AdminDashboard">Ana Sayfa</a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Personel -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Personel" asp-action="Listele">Personel</a>
            </li>

            <!-- Nav Item - İşlemler -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Islem" asp-action="Listele">İşlemler</a>
            </li>

            <!-- Nav Item - Uzmanlıklar -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="PersonelUzmanlik" asp-action="Listele">Uzmanlıklar</a>
            </li>

            <!-- Nav Item - Randevular -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Randevular">Randevular</a>
            </li>

            <!-- Nav Item - Kazanç Hesapla -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="KazancListele" class="btn btn-success">Kazanç Hesapla</a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Çıkış -->
            <li class="nav-item">
                <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End of Page Content -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
</body>

</html>
